
nav {
  // set horizontal padding for nav
    padding: 0 30px;
}


fieldset legend {
    // set a nice contrasting color for the text
    color: green;
    font-weight: bold;
}

.gallery {
  display: flex;
  gap: 1em;
}

.gallery img {
  cursor: zoom-in;
}

img.thumb {
  cursor: zoom-in;
}

.lightbox {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-container {
  cursor: zoom-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighbox-container * {
  max-width: 100%;
}

fieldset span {
  margin-right: 15px;
  display: inline-block;
  // white-space: pre-wrap;
}
