@use "@picocss/pico/scss/colors/utilities";
@use "@picocss/pico/scss/colors" as *;

nav {
  // set horizontal padding for nav
    padding: 0 30px;
}


fieldset legend {
    // set a nice contrasting color for the text
    // color: green;
    font-weight: bold;
}

.gallery {
  display: flex;
  gap: 1em;
}

.gallery img {
  cursor: zoom-in;
}

img.thumb {
  cursor: zoom-in;
}

.lightbox {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-container {
  cursor: zoom-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighbox-container * {
  max-width: 100%;
}

fieldset span {
  margin-right: 15px;
  display: inline-block;
  // white-space: pre-wrap;
}

nav.topnav li {
  padding-bottom: 0;
}

fieldset.bordered {
  border: 1px solid var(--pico-muted-border-color);
  padding: 5px 10px;
  border-radius: 8px;
}

fieldset legend {
  margin-bottom: 0px;
}


td.good {
  color: $green-450;
}

td.bad {
  color: $red-450;
}

fieldset.required input[type="checkbox"]:checked + label, fieldset.required label:has(input[type="checkbox"]:checked) {
  color: $green-450;
}

fieldset.considered input[type="checkbox"]:not(:checked) + label, fieldset.considered label:has(input[type="checkbox"]:not(:checked)) {
  color: $red-450;
}

footer {
  text-align: right;
}

button.yes {
  background-color: $green-500;
  border-color: $green-500;
  // color: white;
}

button.yes:hover {
  background-color: $green-450;
  border-color: $green-450;
  // color: white;
}

button.maybe {
  background-color: var(--pico-secondary-background);
  border-color: var(--pico-secondary-background);
}

button.maybe:hover {
  background-color: var(--pico-secondary-hover-background);
  border-color: var(--pico-secondary-hover-background);
}

button.no {
  background-color: $red-550;
  border-color: $red-550;
}

button.no:hover {
  background-color: $red-500;
  border-color: $red-500;
}

fieldset button {
  margin: 2px;
}

fieldset.grid {
    margin-bottom: 0;
}



.gallery_item {
    // move items to the top
    vertical-align: top;
    width: 320px;
    height: 320px;
    padding-left: 5;
    padding-right: 5;
    display: inline-block;
    background-color: var(--pico-code-background-color);
    margin: 5px;
}

.gallery_item div.image_container {
    width: 320px;
}

.gallery_item > header {
    height: 40px;
    text-align: center;
    margin-bottom: 0;
    display: block;
}

.gallery_item > footer {
    // have it fill out the remaining height
    margin-top: 0;
    display: block;
    height: auto;
}
