{{ define "main" }}
{{ partial "filtering-controls.html" . }}

<hr />

<div>
    <template x-for="kb in filteredData()">
        <div class="gallery_item">
            <header>
                <strong><a :href="kb.website" x-text="kb.name" target="_blank" ></a></strong>
            </header>
            <div class="image_container">
                <img class="thumb" :src="kb.bigThumbUrl" :alt="kb.name" @click="$dispatch('lightbox', kb.imageUrl)"/>
            </div>
            <footer>
            </footer>
        </div>
    </template>
</div>

{{ partial "lightbox.html" . }}

{{ end }}
