{{ define "main" }}
{{ partial "filtering-controls.html" . }}

<hr />

<div class="overflow-auto">
    <table class="striped">
        <thead>
            <tr>
                <th scope="col"><span x-text="resultCount"></span> results</th>
                <th scope="col">Name {{ partial "sort-icon.html" "name" }}</th>
                <th scope="col">Layout {{ partial "sort-icon.html" "layout" }}</th>
                <th scope="col">Keys{{ partial "sort-icon.html" "keys" }}</th>
                <th scope="col">Features {{ partial "sort-icon.html" "featuresCount" }}</th>
                <th scope="col">Availability{{ partial "sort-icon.html" "availability" }}</th>
                <th scope="col">GitHub?</th>
                <!-- <th scope="col">Website</th> -->
            </tr>
        </thead>
        <tbody>
            <template x-for="kb in filteredData()">
                <tr>
                    <td><img class="thumb" :src="kb.thumbUrl" :alt="kb.name" @click="$dispatch('lightbox', kb.imageUrl)"/></td>
                    <td ><a :href="kb.website" x-text="kb.name" target="_blank" ></a></td>
                    <td x-text="kb.layout"></td>
                    <td x-text="kb.keysRange"></td>
                    <td x-text="`${kb.features.join(', ')}`"></td>
                    <td x-text="`${kb.availabilities.join(', ')}`"></td>
                    <td :class="kb.openHardware ? 'good' : 'bad'">
                        <i x-show="kb.openHardware" class="fa-solid fa-check good"></i>
                        <i x-show="!kb.openHardware" class="fa-solid fa-xmark bad"></i>
                    </td>
                    <!-- <td> -->
                    <!--     <img alt="??" :src="kb.websiteShield"> -->
                    <!-- </td> -->
                </tr>
            </template>
        </tbody>
    </table>
</div>

{{ partial "lightbox.html" . }}

{{ end }}
